<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <h1>File upload bug demo</h1>
        <h:form id="form" enctype="multipart/form-data">
            <h:inputFile id="file" value="#{bean.file}"/>
            <h:commandButton value="Upload" action="#{bean.upload}">
                <f:ajax execute="file" render="@all"/>
            </h:commandButton>
            <h:inputTextarea value="#{bean.fileContent}"readonly="true"/>
        </h:form>
    </h:body>
</html>
